.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 50px;
    width: 150px;
}

iframe {
  width: 100%; /* Fill the width of the parent container */
  border: 2px solid blue; /* Optional border for visual separation */
  display: flex; /* Centers the canvas */
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Disable scrollbars - may not work so use scrolling="no" in iframe */
}

/* Container to control the iframe size and scaling */
.iframe-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center; /* Center the iframe */
}

/* Iframe styles */
iframe {
  width: 100%;
  border: solid 1px silver;
}


/* Styling for the Copy Button */
.admonition.prompt {
  position: relative;
}

.admonition.prompt .copy-button {
  position: absolute;
  top: 4px;
  right: 6px;
  background-color: #0056d6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  font-size: 0.7rem;
}

.admonition.prompt .copy-button:hover {
  background-color: #0041a4; /* Darker blue on hover */
}